html {
  position: relative;
  min-height: 100%;
  margin-left: 15%;
  margin-right: 15%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.page-header {
  margin-bottom: 20px;
  width: 100%;
}

.page-header h1 {
  font-size: 25pt;
}

.footer .container {
  position: absolute;
  bottom: 0;
  height: 45px;
  background-color: #33CCCC;
  opacity: 0.7;
  border-radius: 3px;
  text-align: center;
  padding-top: 5px;
  width: 100%;
}

.row {
  position: relative;
  left: 15px;
  width: 100%;

}

.list-unstyled {
  position: absolute; /*положение абсолютное от body */
  margin-left: 0;
  margin-right: 15px;
  border: 1px solid #33CCCC;
  border-radius: 3px;
  padding: 5px;
  word-wrap: break-word;
  width: 200px;
  float: left;
}
 
.form-control {
  position: relative; /*считает относительно list*/
  margin-bottom: 15px; 
}

#target {
  position: absolute; /*поле ввода абсолютно рядом с list*/
  left: 205px;
  right: 0;
}

button {
  position: relative;
  margin-top: 15px;
  margin-left: 205 px;
}

li:nth-child(2n+1) {
  color: #ED002F;
}

li:nth-child(2n) {
}